[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]

bind_address            = {{ galera_conf['bind_address'] }}
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
default_storage_engine  = InnoDB
tmpdir                  = /tmp

skip-name-resolve

lc-messages-dir         = /usr/share/mysql
skip-external-locking

myisam-recover          = BACKUP

log_error               = /var/log/mysql/err.log
slow_query_log          = 1
long_query_time         = 2
log-queries-not-using-indexes

# server-id               = 1
log_bin                 = /var/log/mysql/mysql-bin.log
sync_binlog             = 1
binlog_format           = ROW
expire_logs_days        = 2
log_slave_updates

wsrep_provider          = /usr/lib/libgalera_smm.so
wsrep_sst_method        = xtrabackup-v2
wsrep_sst_auth          = {{ galera_conf['dbusers']['xtrabackup']['username'] }}:{{ galera_conf['dbusers']['xtrabackup']['password'] }}
wsrep_cluster_name      = percona-cluster

{# list of cluster members #}
{% set cluster_members = [] -%}

{# flag to bootstrap #}
{% set bootstrap_cluster = 0 -%}

{# if this is the first node AND bootstrap #}
{%- if groups['tag_mp_server_role_dns'].index(inventory_hostname) == 0 and "bootstrap" in bootstrap_check.stdout_lines[0] %}
  {%- set bootstrap_cluster = 1 %}
{% endif -%}

{%- if not bootstrap_cluster %}
  {%- for node in groups['tag_mp_server_role_dns'] %}
    {%- if hostvars[node].ansible_default_ipv4.address !=  ansible_eth0.ipv4.address %}
      {%- set _ = cluster_members.append(hostvars[node].ansible_default_ipv4.address) -%}
    {% endif -%}
  {% endfor -%}
{% endif -%}
wsrep_cluster_address   = gcomm://{{ ",".join(cluster_members) }}
wsrep_node_name         = {{ ansible_eth0.ipv4.address }}

default_storage_engine          = InnoDB
innodb_autoinc_lock_mode        = 2

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M


 

!includedir /etc/mysql/conf.d/
